:root {
    --background: #131516;
    --text-colour: white;
}

html {
    background-color: var(--background);
}

* {
    color: var(--text-colour);
}

@media only screen and (prefers-color-scheme: light) {
    :root {
        --background: white;
        --text-colour: #131516;
    }
}