:root {
    font-family: 'Rubik', system-ui, sans-serif;
}

:root {
    --background: #111111;
    --text-colour: white;
}

html {
    background-color: var(--background);
}

* {
    color: var(--text-colour);
}
